.listContainer {
  max-width: 70%;
  border-right: 2px dashed white;

  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
  }
}